static/js/main.4adb511d.chunk.js.map
{"version":3,"sources":["../../../sbsmljs/lib/playbook.js","../../../sbsmljs/lib/errors.js","logo.svg","lib/Linter.js","xsoar.png","App.js","reportWebVitals.js","index.js","../../../sbsmljs/lib/parser.js"],"names":["DEFAULT_X_POS","require","ProcessNode","StepNode","Conditional","yaml","Playbook","parser","this","title","text","r","JSON","stringify","dump","tasks","p","processNode","processNodes","nodeList","getProcessTree","nodeName","makeTask","newTasks","tasksFromNodeList","startIndex","xPos","taskIndex","forEach","node","toString","sectionFromProcessNode","taskFromStepNode","result","conditionalFromConditionNode","makeSubTask","name","taskType","id","makeView","yPos","nextTasks","type","d","index","nextTask","conditionNode","task","newXpos","Object","keys","conditions","conditionText","condition","getNextNodeRecursive","nextProcessNode","taskResult","stepNode","nextNode","nextConditional","exports","module","ParserError","message","lineNumber","line","TEXT_DISPLAY_TYPE","YAML_DISPLAY_TYPE","SBSLinter","props","setParser","bind","setParserError","clearParserError","toggleDisplayType","state","parserError","displayType","newParser","setState","err","display","className","style","updateParser","React","Component","TextEditor","handleChange","handleScroll","value","scrollTopValue","myRef","createRef","SBSMLParser","parse","event","target","current","scrollTop","scrollLeftValue","scrollLeft","onScroll","ref","onChange","TextDisplay","lines","split","fmtLines","nodeType","parseLine","skipNode","push","TitleNode","SubStepNode","ThenNode","DescriptionNode","fmtText","ProcessLine","StepLine","SubStepLine","TitleLine","GenericNextLine","ErrorLine","DescriptionLine","ChangeDisplayButton","t","buttonText","src","height","alt","onClick","ButtonGroup","role","aria-label","YamlDisplay","classes","overrideText","copyToClipBoard","navigator","clipboard","writeText","yamlText","renderedPlaybook","render","toYaml","textAlign","zIndex","position","width","ParsedDisplay","processNodeDisplays","pnode","i","ProcessNodeDisplay","stepNodes","snode","StepNodeDisplay","descriptionNode","DescriptionDisplay","ErrorDisplay","console","log","GithubLogo","xmlns","viewBox","fill","fill-rule","clip-rule","transform","Title","logo","href","class","color","App","reportWebVitals","onPerfEntry","Function","then","getCLS","getFID","getFCP","getLCP","getTTFB","ReactDOM","StrictMode","document","getElementById","RE_PROCESS_NODE","RE_TITLE_NODE","RE_STEP_NODE","RE_SUBSTEP_NODE","RE_NEXT_NODE","RE_CONDITIONAL_NODE","RE_EMPTY_LINE","Input","Output","Node","previousNode","inputs","outputs","conditional","inputNode","nextProcessNodes","thenNode","jsonify","subSteps","substepNames","element","input","output","descriptionText","undefined","nextNodeName","nextProcessString","ConditionNode","addCondition","sbsString","currentNode","currentProcessNode","currentDescriptionNode","currentConditional","nextNodes","conditionNodes","processName","getNamedProcess","getNextNode","setNextNode","test","parseProcessNodeLine","setLineNumber","parseStepNodeLine","parseConditionalLine","parseNextNodeLine","parseTitleLine","parseDescriptionLine","matched","match","length","addProcessNode","groups","subindex","inputSplitResult","parseInputs","setInputs","updateNodeName","outputSplitResult","parseOutputs","setOutputs","setPreviousNode","addSubStep","addStepNode","setDescriptionNode","inputSplit","parseArgumentText","objectClass","outputSplit","addText","addNextProcessNode","nextProcessName","c","newConditionNode","setNextConditional","parseString","splitToLines","parseLines","linkNextNodes"],"mappings":"oHAAMA,EAAgB,I,EAEuBC,EAAQ,GAA9CC,E,EAAAA,YAAaC,E,EAAAA,SAAUC,E,EAAAA,YACxBC,EAAOJ,EAAQ,IAEfK,E,wBACF,WAAYC,GAAQ,UAChBC,KAAKD,OAASA,EACd,IAAIE,EAAQ,gBACmB,OAA3BD,KAAKD,OAAOE,MAAMC,OAClBD,EAAQD,KAAKD,OAAOE,MAAMC,MAa9BF,KAAKG,EAAI,CACL,KAAQF,EACR,YAAe,IACf,MAAS,GACT,KAAQG,KAAKC,UAfN,CACP,mBAAsB,GACtB,MAAS,CACL,WAAc,CACV,OAAU,IACV,MAAS,IACT,EAAK,IACL,GAAM,Q,gCA6BtB,WACI,OAAOR,EAAKS,KAAKN,KAAKG,M,qBAlB1B,SAAcJ,GAEV,IAAIQ,EAAQ,GACRC,EAAI,IAAIV,EAASC,GACjBU,EAAcD,EAAET,OAAOW,aAAa,GACpCC,EAAWH,EAAET,OAAOa,eAAeH,EAAYI,UAEnDN,EAAM,GAAOO,EAAS,EAAG,GAAI,CAAC,MArClB,GAqCqCtB,EAAe,SAChE,IAAIuB,EAAWC,EAAkBL,EAAU,EAAGZ,GAA/B,MAKf,OAFAQ,EAAQ,EAAH,KAAOA,GAAUQ,GACtBP,EAAEL,EAAF,MAAeI,EACRC,M,KASf,SAASQ,EAAkBL,EAAUM,EAAYlB,GAA8B,IAAtBmB,EAAsB,uDAAf1B,EAMxDe,EAAQ,GACRY,EAAYF,EAwBhB,OAtBAN,EAASS,SACL,SAACC,GACG,GAAIA,aAAgB3B,EAChBa,EAAMY,EAAUG,YAAcC,EAAuBF,EAAMF,EAAWD,GACtEC,GAAsB,OAEnB,GAAIE,aAAgB1B,EACvBY,EAAMY,EAAUG,YAAcE,EAAiBH,EAAMF,EAAWD,GAChEC,GAAsB,OACnB,GAAIE,aAAgBzB,EAAa,CACpC,IAAI6B,EAASC,EAA6BL,EAAMF,EAAWpB,EAAQmB,GAEnEC,EAAYM,EAAM,SAElBlB,EAAQ,EAAH,KAAOA,GAAUkB,EAAM,WAQjC,CAAC,MAASlB,EAAO,SAAYY,GAGxC,SAASQ,EAAYC,EAAMC,EAAUC,GACjC,MAAO,CACH,KAAQF,EACR,KAAQC,EACR,GAAMC,GAId,SAASC,EAASC,EAAMd,GACpB,mCAA6BA,EAA7B,kBAA2Cc,EAA3C,QAGJ,SAASlB,EAASgB,EAAIF,EAAMK,EAAWD,EAAMd,EAAMgB,GAG/C,IAAIC,EAAK,CACL,GAAML,EAAGR,WACT,OAAUQ,EAAGR,WACb,KAAQY,EACR,KAAQP,EAAYC,EAAMM,EAAMJ,EAAGR,YACnC,KAAQS,EAASC,EAAMd,IAS3B,OANkB,OAAde,IACAE,EAAC,UAAgB,CACb,SAAUF,IAIXE,EAGX,SAASZ,EAAuBd,EAAa2B,GAA6B,IAAtBlB,EAAsB,uDAAf1B,EACnD6C,EAAWD,EAAQ,EAEvB,OADAC,EAAWA,EAASf,WACbR,EAASsB,EAAO3B,EAAYI,SAAU,CAACwB,GAAmB,IAARD,EAAalB,EAAM,SAGhF,SAASQ,EAA6BY,EAAeF,EAAOrC,GAA8B,IAAtBmB,EAAsB,uDAAf1B,EACnE6C,EAAWD,EAAQ,EAEnBG,EAAOzB,EAASsB,EAAO,YAAa,KAAc,IAARA,EAAalB,EAAO,eAClEqB,EAAI,UAAgB,GAEpB,IAAIhC,EAAQ,GACZA,EAAM6B,EAAMd,YAAciB,EAC1B,IAEIC,EAAUtB,EAqBd,OApBAuB,OAAOC,KAAKJ,EAAcK,YAAYvB,SAAQ,SAAAwB,GAE1CL,EAAI,UAAcK,GAAiB,CAACP,EAASf,YAC7C,IAAIuB,EAAYP,EAAcK,WAAWC,GACrCjC,EAAW,GAGfZ,EAAO+C,qBAAqBD,EAAUE,gBAAiBpC,GAGvD,IAAIqC,EAAahC,EAAkBL,EAAU0B,EAAUtC,EADvDyC,GAAoB,KAEhBzB,EAAWiC,EAAU,MAEzBzC,EAAQ,EAAH,KAAOA,GAAUQ,GAEtBsB,EAAWW,EAAU,SAAa,KAItCT,EAAI,UAAc,aAAe,CAACF,EAASf,YACpC,CAAC,MAASf,EAAO,SAAY8B,GAKxC,SAASb,EAAiByB,EAAUb,GAA6B,IAAtBlB,EAAsB,uDAAf1B,EAC1C6C,EAAWD,EAAQ,EACnBH,EAAY,CAACI,GAMjB,OAL0B,OAAtBY,EAASC,UACyB,OAA7BD,EAASE,kBACVlB,EAAY,MAGbnB,EAASsB,EAAOa,EAASpC,SAAUoB,EAAmB,IAARG,EAAalB,EAAM,WAK5EkC,EAAQtD,SAAWA,G,gFCxKnBuD,EAAOD,QAAQE,YALf,SAAqBC,EAASC,GAC1BxD,KAAKuD,QAAUA,EACfvD,KAAKyD,KAAOD,I,4ECHD,G,MAAA,IAA0B,kC,6ECInCE,EAAoB,OACpBC,EAAoB,aA4BbC,EAAb,kDACI,WAAYC,GAAQ,IAAD,8BACf,cAAMA,IACDC,UAAY,EAAKA,UAAUC,KAAf,gBACjB,EAAKC,eAAiB,EAAKA,eAAeD,KAApB,gBACtB,EAAKE,iBAAmB,EAAKA,iBAAiBF,KAAtB,gBACxB,EAAKG,kBAAoB,EAAKA,kBAAkBH,KAAvB,gBAEzB,EAAKI,MAAQ,CACTpE,OAAQ,KACRqE,YAAa,KACbC,YAAaX,GAVF,EADvB,6CAeI,SAAUY,GACNtE,KAAKuE,SAAS,CACVxE,OAAQuE,MAjBpB,4BAqBI,SAAeE,GACXxE,KAAKuE,SAAS,CACVH,YAAaI,MAvBzB,8BA2BI,WACIxE,KAAKuE,SAAS,CACVH,YAAa,SA7BzB,+BAiCI,WACQpE,KAAKmE,MAAME,cAAgBX,EAC3B1D,KAAKuE,SAAS,CACVF,YAAaV,IAGjB3D,KAAKuE,SAAS,CACVF,YAAaX,MAxC7B,oBA8CI,WACI,IAAIe,EAAU,KAUd,OATIzE,KAAKmE,MAAME,cAAgBX,IAC3Be,EAAU,cAAC,EAAD,CAAeP,kBAAmBlE,KAAKkE,kBAAmBnE,OAAQC,KAAKmE,MAAMpE,OAC9DqE,YAAapE,KAAKmE,MAAMC,YAAaC,YAAarE,KAAKmE,MAAME,eAEtFrE,KAAKmE,MAAME,cAAgBV,IAC3Bc,EAAU,cAAC,EAAD,CAAaP,kBAAmBlE,KAAKkE,kBAAmBnE,OAAQC,KAAKmE,MAAMpE,OAC9DqE,YAAapE,KAAKmE,MAAMC,YAAaC,YAAarE,KAAKmE,MAAME,eAIpF,qBAAKK,UAAU,kCAAf,SACI,sBAAKA,UAAU,UAAUC,MAAO,CAACF,QAAS,YAA1C,UACI,sBAAMC,UAAU,iBAAhB,SACI,cAAC,EAAD,CAAYE,aAAc5E,KAAK8D,UAAWE,eAAgBhE,KAAKgE,eACnDC,iBAAkBjE,KAAKiE,qBAEtCQ,WAhErB,GAA+BI,IAAMC,WAuE/BC,E,kDACF,WAAYlB,GAAQ,IAAD,8BACf,cAAMA,IACDmB,aAAe,EAAKA,aAAajB,KAAlB,gBACpB,EAAKkB,aAAe,EAAKA,aAAalB,KAAlB,gBAEpB,EAAKI,MAAQ,CACTe,MAxGK,6mBAyGLC,eAAgB,GAChBf,YAAa,MAEjB,EAAKgB,MAAQP,IAAMQ,YAVJ,E,qDAanB,WACI,IAAIf,EAAYgB,cAAYC,MAAMvF,KAAKmE,MAAMe,OAC7ClF,KAAK6D,MAAMe,aAAaN,K,0BAG5B,SAAakB,GACT,IACI,IAAIlB,EAAYgB,cAAYC,MAAMC,EAAMC,OAAOP,OACjD,MAAOV,GAML,OALAxE,KAAK6D,MAAMG,eAAeQ,QAC1BxE,KAAKuE,SAAS,CACVW,MAAOM,EAAMC,OAAOP,MACpBd,YAAaI,IAIrBxE,KAAK6D,MAAMI,mBACXjE,KAAK6D,MAAMe,aAAaN,GACxBtE,KAAKuE,SAAS,CACVW,MAAOM,EAAMC,OAAOP,MACpBd,YAAa,S,0BAIrB,WACIpE,KAAKuE,SAAS,CACVY,eAAgBnF,KAAKoF,MAAMM,QAAQC,UACnCC,gBAAiB5F,KAAKoF,MAAMM,QAAQG,e,oBAK5C,WACI,OACI,sBAAKnB,UAAU,aAAf,UACI,cAAC,EAAD,CAAaxE,KAAMF,KAAKmE,MAAMe,MAAOS,UAAW3F,KAAKmE,MAAMgB,eAC9CU,WAAY7F,KAAKmE,MAAMyB,gBAAiBxB,YAAapE,KAAKmE,MAAMC,cAC7E,0BAAU0B,SAAU9F,KAAKiF,aAAcc,IAAK/F,KAAKoF,MAAOV,UAAU,oBACxDQ,MAAOlF,KAAKmE,MAAMe,MAAOc,SAAUhG,KAAKgF,sB,GApDzCH,IAAMC,WA0DzBmB,E,kDACF,WAAYpC,GAAQ,IAAD,8BACf,cAAMA,IACDuB,MAAQP,IAAMQ,YAFJ,E,sDAKnB,WACQrF,KAAKoF,MAAMM,UACX1F,KAAKoF,MAAMM,QAAQC,UAAY3F,KAAK6D,MAAM8B,UAC1C3F,KAAKoF,MAAMM,QAAQG,WAAa7F,KAAK6D,MAAMgC,c,mBAInD,SAAM3F,GAAO,IAAD,OACJgG,EAAQhG,EAAKiG,MAAM,SACnBC,EAAW,GA0Cf,OAxCAF,EAAM9E,SAAQ,SAACqC,EAAMrB,GACjB,IAAIiE,EAAWf,cAAYgB,UAAU7C,GACjC8C,GAAW,EASf,GAP+B,OAA3B,EAAK1C,MAAMO,aACP,EAAKP,MAAMO,YAAYX,OAASrB,IAChCgE,EAASI,KAAK,cAAC,EAAD,CAAWtG,KAAMuD,KAC/B8C,GAAW,IAIdA,EACD,OAAQF,GACJ,KAAK3G,cACD0G,EAASI,KAAK,cAAC,EAAD,CAAatG,KAAMuD,GAAWrB,IAC5C,MACJ,KAAKqE,YACDL,EAASI,KAAK,cAAC,EAAD,CAAWtG,KAAMuD,GAAWrB,IAC1C,MACJ,KAAKzC,WACDyG,EAASI,KAAK,cAAC,EAAD,CAAUtG,KAAMuD,GAAWrB,IACzC,MACJ,KAAKsE,cACDN,EAASI,KAAK,cAAC,EAAD,CAAatG,KAAMuD,GAAWrB,IAC5C,MACJ,KAAKxC,cAGL,KAAK+G,WACDP,EAASI,KAAK,cAAC,EAAD,CAAiBtG,KAAMuD,GAAWrB,IAChD,MACJ,KAAKwE,kBACDR,EAASI,KAAK,cAAC,EAAD,CAAiBtG,KAAMuD,GAAWrB,IAChD,MACJ,QACIgE,EAASI,KAAK/C,EAAO,UAK9B2C,I,oBAGX,WACI,IAAIS,EAAU7G,KAAKuF,MAAMvF,KAAK6D,MAAM3D,MACpC,OACI,qBAAK6F,IAAK/F,KAAKoF,MACVV,UAAU,YADf,SAC4BmC,Q,GAhEdhC,IAAMC,WAqE1BgC,E,4JACF,WACI,OACI,qBAAKpC,UAAU,iBAAf,SAAiC1E,KAAK6D,MAAM3D,W,GAH9B2E,IAAMC,WAQ1BiC,E,4JACF,WACI,OACI,qBAAKrC,UAAU,kBAAf,SAAkC1E,KAAK6D,MAAM3D,W,GAHlC2E,IAAMC,WAQvBkC,E,4JACF,WACI,OACI,qBAAKtC,UAAU,uBAAf,SAAuC1E,KAAK6D,MAAM3D,W,GAHpC2E,IAAMC,WAQ1BmC,E,4JACF,WACI,OACI,qBAAKvC,UAAU,iBAAf,SAAiC1E,KAAK6D,MAAM3D,W,GAHhC2E,IAAMC,WAQxBoC,E,4JACF,WACI,OACI,qBAAKxC,UAAU,kBAAf,SAAkC1E,KAAK6D,MAAM3D,W,GAH3B2E,IAAMC,WAQ9BqC,E,4JACF,WACI,OACI,qBAAKzC,UAAU,eAAf,SAA+B1E,KAAK6D,MAAM3D,W,GAH9B2E,IAAMC,WAQxBsC,E,4JACF,WACI,OACI,qBAAK1C,UAAU,gBAAf,SAAgC1E,KAAK6D,MAAM3D,W,GAHzB2E,IAAMC,WAQ9BuC,E,4JACF,WAEI,IAAIC,EAAI5D,EACJ6D,EAAaD,EAMjB,OAJItH,KAAK6D,MAAMQ,cAAgBX,IAC3B4D,EAAI3D,EACJ4D,EAAa,iCAAM,qBAAKC,ICvSrB,yiCDuSiCC,OAAO,OAAOC,IAAI,eAAzC,YAGb,wBAAQxF,KAAK,SAASyF,QAAS3H,KAAK6D,MAAMK,kBAAmBQ,UAAU,oBAAvE,SAA4F6C,Q,GAXtE1C,IAAMC,WAiBlC8C,E,4JACF,WACI,OACI,qBAAKlD,UAAU,YAAYmD,KAAK,QAAQC,aAAW,gBAAnD,SACI,cAAC,EAAD,CAAqB5D,kBAAmBlE,KAAK6D,MAAMK,kBAAmBG,YAAarE,KAAK6D,MAAMQ,oB,GAJpFQ,IAAMC,WAU1BiD,E,kDACF,aAAe,IAAD,8BACV,gBACK5D,MAAQ,CACT6D,QAAS,GACTC,aAAc,MAElB,EAAKC,gBAAkB,EAAKA,gBAAgBnE,KAArB,gBANb,E,mDASd,SAAgBmB,GACZlF,KAAKuE,SAAS,CACVyD,QAAS,aACTC,aAAc,yBAElBE,UAAUC,UAAUC,UAAUnD,K,oBAGlC,WAAU,IAAD,OACDoD,EAAW,KACf,IACI,IAAIC,EAAmBzI,WAAS0I,OAAOxI,KAAK6D,MAAM9D,QAClDuI,EAAWC,EAAiBE,SAC9B,MAAOjE,GACL8D,EAAW9D,EAAIjB,QAGnB,OACI,8BACA,sBAAKmB,UAAU,cAAciD,QAAS,kBAAM,EAAKO,gBAAgBI,IAAjE,UACI,qBAAK3D,MAAO,CAAC+D,UAAW,UAAxB,SACI,cAAC,EAAD,CAAaxE,kBAAmBlE,KAAK6D,MAAMK,kBAAmBG,YAAarE,KAAK6D,MAAMQ,gBAE1F,qBAAKM,MAAO,CAACgE,OAAQ,EAAGC,SAAU,WAAYF,UAAU,QAASG,MAAO,SAAxE,SACK7I,KAAKmE,MAAM8D,eAEhB,qBAAKvD,UAAW1E,KAAKmE,MAAM6D,QAA3B,SACMM,a,GArCIzD,IAAMC,WA6C1BgE,E,4JACF,WACI,GAA8B,MAA1B9I,KAAK6D,MAAMO,YACX,OACI,qBAAKM,UAAU,+BAAf,SACI,cAAC,EAAD,CAAcN,YAAapE,KAAK6D,MAAMO,gBAKlD,IAAIrE,EAASC,KAAK6D,MAAM9D,OACpBgJ,EAAsB,GAM1B,OALe,OAAXhJ,GACAA,EAAOW,aAAaU,SAAQ,SAAC4H,EAAOC,GAChCF,EAAoBvC,KAAK,cAAC,EAAD,CAA4BnF,KAAM2H,GAATC,OAItD,sBAAKvE,UAAU,+BAAf,UACI,qBAAKC,MAAO,CAAC+D,UAAW,UAAxB,SACI,cAAC,EAAD,CAAaxE,kBAAmBlE,KAAK6D,MAAMK,kBAAmBG,YAAarE,KAAK6D,MAAMQ,gBAEzF0E,S,GAtBWlE,IAAMC,WA4B5BoE,E,4JACF,WACI,IAAIC,EAAY,GAIhB,OAHAnJ,KAAK6D,MAAMxC,KAAK8H,UAAU/H,SAAQ,SAACgI,EAAOH,GACtCE,EAAU3C,KAAK,cAAC,EAAD,CAAyBnF,KAAM+H,GAATH,OAGrC,sBAAKvE,UAAU,aAAf,UACI,oBAAIA,UAAU,mCAAd,SAAkD1E,KAAK6D,MAAMxC,KAAKR,WACjEsI,S,GATgBtE,IAAMC,WAejCuE,E,4JACF,WACI,OACI,gCACI,qBAAI3E,UAAU,WAAd,UAA0B1E,KAAK6D,MAAMxC,KAAKR,SACtC,0BAEJ,cAAC,EAAD,CAAoByI,gBAAiBtJ,KAAK6D,MAAMxC,KAAKiI,yB,GAPvCzE,IAAMC,WAc9ByE,E,4JACF,WACI,OAAwC,OAApCvJ,KAAK6D,MAAMyF,gBAAgBpJ,KAEvB,oBAAIwE,UAAU,kBAAd,SAAiC1E,KAAK6D,MAAMyF,gBAAgBpJ,OAI7D,S,GARkB2E,IAAMC,WAYjC0E,E,4JACF,WAEI,OADAC,QAAQC,IAAI1J,KAAK6D,MAAMO,YAAYb,SAE/B,qBAAImB,UAAU,cAAd,mBAAmC1E,KAAK6D,MAAMO,YAAYX,KAA1D,KAAkEzD,KAAK6D,MAAMO,YAAYb,e,GAJ1EsB,IAAMC,WEtajC,SAAS6E,IACP,OACE,qBAAKC,MAAM,6BAA6Bf,MAAM,KAAKpB,OAAO,KAAKoC,QAAQ,gBAAgBC,KAAK,OAA5F,SACE,sBAAMC,YAAU,UAAUC,YAAU,UAAU7H,EAAE,kwBAAkwB8H,UAAU,YAAYH,KAAK,cAKn1B,SAASI,IACP,OACE,sBAAKxF,UAAU,sDAAf,UACE,qBAAKA,UAAU,MAAf,SACE,sBAAKA,UAAU,MAAf,UACE,qBAAK8C,IAAK2C,EAAMtB,MAAM,QAAQpB,OAAO,UACrC,oBAAI/C,UAAU,YAAd,0CACA,+GAGJ,qBAAKA,UAAU,MAAf,SACE,qBAAKA,UAAU,MAAf,SACE,oBAAGA,UAAU,gBAAgB0F,KAAK,iEAAiEvC,KAAK,SAAxG,uCAA2I,cAAC8B,EAAD,IAA3I,WAGJ,sBAAKjF,UAAU,MAAf,UACE,sBAAKA,UAAU,MAAf,UACE,qBAAKkF,MAAM,6BAA6Bf,MAAM,KAAKpB,OAAO,KAAKqC,KAAK,eAAeO,MAAM,wBAAwBR,QAAQ,YAAzH,SACE,sBAAM1H,EAAE,s6BAEV,kDACA,iIACE,uBADF,wFAKF,sBAAKuC,UAAU,MAAf,UACE,qBAAKkF,MAAM,6BAA6Bf,MAAM,KAAKpB,OAAO,KAAKqC,KAAK,eAAeO,MAAM,eAAeR,QAAQ,YAAhH,SACE,sBAAM1H,EAAE,2nBAEV,oDACA,mFAEE,uBAFF,uIAOJ,qBAAKuC,UAAU,MAAf,SACE,sBAAKA,UAAU,UAAf,UACE,qBAAKA,UAAU,MAAf,SACE,qBAAIC,MAAO,CAAE2F,MAAO,SAApB,yBAA2C,uBACzC,qBAAKV,MAAM,6BAA6Bf,MAAM,KAAKpB,OAAO,KAAKqC,KAAK,eAAeO,MAAM,mBAAmBR,QAAQ,YAApH,SACE,sBAAME,YAAU,UAAU5H,EAAE,uJAIlC,cAAC,EAAD,YAgBKoI,MARf,WACE,OACE,qBAAK7F,UAAU,sBAAf,SACE,cAACwF,EAAD,OC5DSM,EAZS,SAAAC,GAClBA,GAAeA,aAAuBC,UACxC,6BAAqBC,MAAK,YAAkD,IAA/CC,EAA8C,EAA9CA,OAAQC,EAAsC,EAAtCA,OAAQC,EAA8B,EAA9BA,OAAQC,EAAsB,EAAtBA,OAAQC,EAAc,EAAdA,QAC3DJ,EAAOH,GACPI,EAAOJ,GACPK,EAAOL,GACPM,EAAON,GACPO,EAAQP,OCDdQ,IAASzC,OACP,cAAC,IAAM0C,WAAP,UACE,cAAC,EAAD,MAEFC,SAASC,eAAe,SAM1BZ,K,8DChBMa,EAAkB,mBAClBC,EAAgB,iBAChBC,EAAY,EAAG,2RAAH,iCACZC,EAAkB,WAClBC,EAAY,EAAG,oJAAH,kBACZC,EAAmB,EAAG,+NAAH,iCACnBC,EAAgB,KAKdrI,EAAgB7D,EAAQ,IAAxB6D,YAEFsI,E,wBACF,WAAY1L,EAAM0B,GAAM,UACpB5B,KAAKE,KAAOA,EACZF,KAAK4B,KAAOA,E,iCAGhB,WACI,MAAO,CACH,KAAQ5B,KAAK4B,KACb,KAAQ5B,KAAKE,U,KAKnB2L,E,wBACF,WAAY3L,EAAM0B,GAAM,UACpB5B,KAAKE,KAAOA,EACZF,KAAK4B,KAAOA,E,iCAGhB,WACI,MAAO,CACH,KAAQ5B,KAAK4B,KACb,KAAQ5B,KAAKE,U,KAInB4L,E,wBACF,aAAc,UACV9L,KAAKkD,SAAW,KAChBlD,KAAKmD,gBAAkB,KACvBnD,KAAK+L,aAAe,KACpB/L,KAAKgM,OAAS,GACdhM,KAAKiM,QAAU,GACfjM,KAAKyD,KAAO,K,qCAEhB,SAAYpC,GACRrB,KAAKkD,SAAW7B,I,6BAEpB,SAAgBA,GACZrB,KAAK+L,aAAe1K,I,gCAExB,SAAmB6K,GACflM,KAAKmD,gBAAkB+I,I,sBAE3B,SAASC,GACLnM,KAAKgM,OAAOxF,KAAK2F,K,uBAErB,SAAUH,GACNhM,KAAKgM,OAASA,I,wBAElB,SAAWC,GACPjM,KAAKiM,QAAUA,I,2BAEnB,SAAczI,GACVxD,KAAKyD,KAAOD,M,KAIdiD,E,2CACF,WAAYvG,GAAM,wBACd,gBACKA,KAAOA,EAFE,E,UADE4L,GAOlBpM,E,2CACF,WAAYmB,GAAU,wBAClB,gBACKA,SAAWA,EAChB,EAAKsI,UAAY,GACjB,EAAKiD,iBAAmB,GAJN,E,qCAOtB,SAAYnJ,GACRjD,KAAKmJ,UAAU3C,KAAKvD,K,gCAExB,SAAmBoJ,GACfrM,KAAKoM,iBAAiB5F,KAAK6F,K,qBAG/B,WACI,IAAIlD,EAAY,GAIhB,OAHAnJ,KAAKmJ,UAAU/H,SAAQ,SAAA6B,GACnBkG,EAAU3C,KAAKvD,EAASqJ,cAErB,CACH,KAAQtM,KAAKa,SACb,UAAasI,O,GAtBC2C,GA2BpBpF,E,2CACF,WAAY7F,GAAU,8B,UADAiL,GAMpBnM,E,2CACF,WAAYkB,GAAU,wBAClB,gBACKA,SAAWA,EAChB,EAAK0L,SAAW,GAChB,EAAKjD,gBAJa,E,oCAOtB,SAAWrG,GACPjD,KAAKuM,SAAS/F,KAAKvD,K,4BAEvB,SAAerB,GACX5B,KAAKa,SAAWe,I,gCAEpB,SAAmB0H,GACftJ,KAAKsJ,gBAAkBA,I,qBAG3B,WACI,IAAIkD,EAAe,GACnBxM,KAAKuM,SAASnL,SAAQ,SAAAqL,GAClBD,EAAahG,KAAKiG,EAAQ5L,aAE9B,IAAImL,EAAS,GACbhM,KAAKgM,OAAO5K,SAAQ,SAAAsL,GAChBV,EAAOxF,KAAKkG,EAAMJ,cAEtB,IAAIL,EAAU,GACdjM,KAAKiM,QAAQ7K,SAAQ,SAAAuL,GACjBV,EAAQzF,KAAKmG,EAAOL,cAExB,IAAIM,EAAkB,KAItB,YAH6BC,IAAzB7M,KAAKsJ,kBACLsD,EAAkB5M,KAAKsJ,gBAAgBpJ,MAEpC,CACH,KAAQF,KAAKa,SACb,SAAY2L,EACZ,YAAeI,EACf,OAAUZ,EACV,QAAWC,O,GAxCAH,GA6CjBlF,E,2CACF,aAAc,wBACV,gBACK1G,KAAO,KAFF,E,iCAId,SAAQA,GACc,OAAdF,KAAKE,KACLF,KAAKE,KAAOA,EAEZF,KAAKE,KAAOF,KAAKE,KAAOA,M,GATN4L,GAcxBnF,E,2CACF,WAAYmG,GAAc,wBACtB,gBACKA,aAAeA,EACpB,EAAK5J,SAAW,KAHM,E,UADP4I,GAQjBlM,E,wBACF,aAAc,UACVI,KAAK2C,WAAa,GAClB3C,KAAKkD,SAAW,K,sCAEpB,SAAaZ,GACTtC,KAAK2C,WAAWL,EAAcO,WAAaP,I,8BAE/C,SAAiBO,EAAWkK,GACxB,IAAIzK,EAAgB,IAAI0K,EAAcnK,EAAWkK,GAEjD,OADA/M,KAAKiN,aAAa3K,GACXA,I,yBAEX,SAAYK,GAAY,WAOpB,OANAA,EAAWvB,SAAQ,SAAAyB,GACf,GAAIA,KAAa,EAAKF,WAClB,OAAO,EAAKA,WAAWE,GAAWK,YAInClD,KAAKkD,a,KAId8J,E,2CACF,WAAYnK,EAAWkK,GAAmB,wBACtC,gBACKlK,UAAYA,EACjB,EAAKkK,kBAAoBA,EACzB,EAAKhK,gBAAkB,KAJe,E,UADlB+I,GAStBxG,E,wBACF,WAAY4H,GAAW,UACnBlN,KAAKkN,UAAYA,EAEjBlN,KAAKU,aAAe,GACpBV,KAAKmN,YAAc,GACnBnN,KAAKoN,mBAAqB,KAC1BpN,KAAKqN,uBAAyB,KAC9BrN,KAAKsN,mBAAqB,KAC1BtN,KAAKuN,UAAY,GAEjBvN,KAAKwN,eAAiB,GACtBxN,KAAKC,MAAQ,IAAIwG,EAAU,M,wCAY/B,SAAegH,GAEX,IAAIhN,EAAcT,KAAK0N,gBAAgBD,GACnC9M,EAAW,GAEf,OADAX,KAAK8C,qBAAqBrC,EAAaE,GAChCA,I,kCAGX,SAAqBU,EAAMV,GAIvB,GAFAA,EAAS6F,KAAKnF,GAEVA,aAAgBzB,EAApB,CAEI,GAAiB,OADFyB,EAAKsM,YAAY,IAE5B,MAAM,IAAIrK,EAAY,sCAAuC,MAEjEtD,KAAK8C,qBAAqBzB,EAAKsM,YAAY,IAAKhN,QAIvB,OAAzBU,EAAK8B,gBAKa,OAAlB9B,EAAK6B,UACLlD,KAAK8C,qBAAqBzB,EAAK6B,SAAUvC,GALzCX,KAAK8C,qBAAqBzB,EAAK8B,gBAAiBxC,K,2BASxD,WAAgB,WAEZX,KAAKU,aAAaU,SAAS,SAAAX,GACvBA,EAAY2L,iBAAiBhL,SAAS,SAAAiL,GAClC,GAAyB,MAArBA,EAASnJ,SACT,IACI,IAAIH,EAAkB,EAAK2K,gBAAgBrB,EAASS,cACpDT,EAASuB,YAAY7K,GAEzB,MAAMyB,GACF,MAAM,IAAIlB,EAAYkB,EAAIjB,QAAS8I,EAAS5I,aAO5DzD,KAAKwN,eAAepM,SAAS,SAAAkB,GACzB,GAAwC,OAApCA,EAAcyK,kBACd,IACIzK,EAAcS,gBAAkB,EAAK2K,gBAAgBpL,EAAcyK,mBACrE,MAAOvI,GACL,MAAM,IAAIlB,EAAYkB,EAAIjB,QAASjB,EAAcmB,UAK7DzD,KAAKuN,UAAUnM,SAAS,SAAAiL,GACpB,IACI,IAAItJ,EAAkB,EAAK2K,gBAAgBrB,EAASS,cACpDT,EAASuB,YAAY7K,GAEzB,MAAMyB,GACF,MAAM,IAAIlB,EAAYkB,EAAIjB,QAAS8I,EAAS5I,Y,6BAMxD,SAAgBgK,GACZ,IAAIpM,EAAO,KAMX,GALArB,KAAKU,aAAaU,SAAQ,SAAAX,GAClBA,EAAYI,WAAa4M,IACzBpM,EAAOZ,MAGF,OAATY,EACA,OAAOA,EAEP,MAAM,IAAIiC,EAAJ,sBAA+BmK,EAA/B,kB,0BAId,WACI,OAAOzN,KAAKkN,UAAU/G,MAAM,W,wBAyBhC,SAAWD,GAAO,WACdA,EAAM9E,SAAQ,SAACqL,EAASrK,GAEpB,QAAO,GACH,KAAKiJ,EAAgBwC,KAAKpB,GAClB,EAAKqB,qBAAqBrB,GAC5BsB,cAAc3L,GAChB,MACJ,KAAKmJ,EAAasC,KAAKpB,GACf,EAAKuB,kBAAkBvB,GACzBsB,cAAc3L,GAChB,MACJ,KAAKsJ,EAAoBmC,KAAKpB,GACtB,EAAKwB,qBAAqBxB,GAC5BsB,cAAc3L,GAChB,MACJ,KAAKqJ,EAAaoC,KAAKpB,GACf,EAAKyB,kBAAkBzB,GACzBsB,cAAc3L,GAChB,MACJ,KAAKkJ,EAAcuC,KAAKpB,GAChB,EAAK0B,eAAe1B,GACtBsB,cAAc3L,GAChB,MACJ,QACI,EAAKgM,qBAAqB3B,S,kCAM1C,SAAqBhJ,GACjBgG,QAAQC,IAAI,yBAA2BjG,GACvC,IAAI4K,EAAU5K,EAAK6K,MAAMjD,GACzB,GAAIgD,EAAQE,OAAS,EACjB,KAAM,8BAEV,IAAI1N,EAAWwN,EAAQ,GACnB5N,EAAc,IAAIf,EAAYmB,GAOlC,OANAb,KAAKwO,eAAe/N,GACpBT,KAAKmN,YAAc1M,EACnBT,KAAKoN,mBAAqB3M,EAG1BT,KAAKsN,mBAAqB,KACnB7M,I,+BAGX,SAAkBgD,GACdgG,QAAQC,IAAR,6BAAkCjG,IAClC,IAAI6K,EAAQ7K,EAAK6K,MAAM/C,GACnBnJ,EAAQkM,EAAMG,OAAN,MACRC,EAAWJ,EAAMG,OAAN,SAEf,QAAc5B,IAAVzK,EACA,KAAM,mBAEV,IAAIvB,EAAWyN,EAAMG,OAAN,SAEXE,EAAmB3O,KAAK4O,YAAY/N,GACpCoC,EAAW,IAAItD,EAASkB,GAEH,OAArB8N,IACA1L,EAAS4L,UAAUF,EAAgB,QACnC1L,EAAS6L,eAAeH,EAAgB,WAI5C,IAAII,EAAoB/O,KAAKgP,aAAanO,GAChB,OAAtBkO,IACA9L,EAASgM,WAAWF,EAAiB,SACrClO,EAAWkO,EAAiB,UAGhC9L,EAASiM,gBAAgBlP,KAAKmN,kBACbN,IAAb6B,IACAjF,QAAQC,IAAR,qCAA0CgF,IAC1C1O,KAAKmN,YAAYgC,WAAWlM,IAGhCjD,KAAKmN,YAAYS,YAAY3K,GAC7BjD,KAAKmN,YAAclK,EACnBjD,KAAKoN,mBAAmBgC,YAAYnM,GAEpC,IAAIqG,EAAkB,IAAI1C,EAI1B,OAHA3D,EAASoM,mBAAmB/F,GAC5BtJ,KAAKqN,uBAAyB/D,EAEvBrG,I,yBAGX,SAAYQ,GAAM,WACV6L,EAAa7L,EAAK0C,MA/aL,KAgbb6F,EAAS,GACb,OAAIsD,EAAWf,OAAS,GACpB9E,QAAQC,IAAR,8BAAmC4F,EAAW,KAC7BA,EAAW,GACjBnJ,MAlbJ,KAkbsB/E,SAAQ,SAAAqL,GACjC,IAAIC,EAAQ,EAAK6C,kBAAkB9C,EAASb,GAC5CI,EAAOxF,KAAKkG,MAET,CAAC,OAAUV,EAAQnL,SAAUyO,EAAW,KAE5C,O,+BAGX,SAAkBpP,EAAMsP,GAEpB,IACI5N,EADAuE,EAAQjG,EAAKiG,MA5bA,KA8bjB,OAAIA,EAAMoI,OAAS,GACf3M,EAAOuE,EAAM,GAEN,IAAIqJ,EADHrJ,EAAM,GACgBvE,IAI3B,IAAI4N,EAFHrJ,EAAM,GAEgB,Q,0BAGlC,SAAa1C,GAAM,WACXgM,EAAchM,EAAK0C,MA3cL,MA4cd8F,EAAU,GACd,OAAIwD,EAAYlB,OAAS,GACrB9E,QAAQC,IAAR,gCAAqC+F,EAAY,KAC/BA,EAAY,GAClBtJ,MA/cL,KA+cuB/E,SAAQ,SAAAqL,GAClC,IAAIE,EAAS,EAAK4C,kBAAkB9C,EAASZ,GAC7CI,EAAQzF,KAAKmG,MAEV,CAAC,QAAWV,EAASpL,SAAU4O,EAAY,KAE/C,O,kCAGX,SAAqBhM,GAMjBgG,QAAQC,IAAR,oCAAyCjG,IAEN,OAAhCzD,KAAKqN,6BAAmER,IAAhC7M,KAAKqN,6BAIRR,IAArC7M,KAAKmN,YAAY7D,iBAGpBtJ,KAAKmN,YAAY7D,gBAAgBoG,QAAQjM,K,+BAG7C,SAAkBA,GAEdgG,QAAQC,IAAR,iCAAsCjG,IACtC,IACIqJ,EADQrJ,EAAK6K,MAAM7C,GACEgD,OAAN,aACfpC,EAAW,IAAI1F,EAASmG,GAG5B,OAFA9M,KAAKuN,UAAU/G,KAAK6F,GAEY,OAA5BrM,KAAKsN,oBAELtN,KAAKsN,mBAAmBpK,SAAWmJ,EAC5BA,IAEXrM,KAAKmN,YAAYS,YAAYvB,GAC7BrM,KAAKmN,YAAcd,EACnBrM,KAAKoN,mBAAmBuC,mBAAmBtD,GACpCA,K,kCAGX,SAAqB5I,GAEjBgG,QAAQC,IAAR,wCAA6CjG,IAC7C,IAAI6K,EAAQ7K,EAAK6K,MAAM5C,GACnB7I,EAAYyL,EAAMG,OAAN,UACZmB,EAAkBtB,EAAMG,OAAN,gBAClBoB,EAAI,IAAIjQ,EACoB,OAA5BI,KAAKsN,qBACLuC,EAAI7P,KAAKsN,oBAEb,IAAIhL,EAAgBuN,EAAEC,iBAAiBjN,EAAW+M,GAIlD,OAHA5P,KAAKsN,mBAAqBuC,EAC1B7P,KAAKmN,YAAY4C,mBAAmBF,GACpC7P,KAAKwN,eAAehH,KAAKlE,GAClBA,I,4BAGX,SAAemB,GACXgG,QAAQC,IAAR,iCAAsCjG,IACtC,IAAI4K,EAAU5K,EAAK6K,MAAMhD,GACzB,GAAI+C,EAAQE,OAAS,EACjB,KAAM,4BAGV,OADAvO,KAAKC,MAAQ,IAAIwG,EAAU4H,EAAQ,IAC5BrO,KAAKC,Q,4BAGhB,SAAeQ,GACXT,KAAKU,aAAa8F,KAAK/F,K,oBAG3B,WACI,IAAIC,EAAe,GAInB,OAHAV,KAAKU,aAAaU,SAAQ,SAAAX,GACtBC,EAAa8F,KAAK/F,EAAY6L,cAE3BlM,KAAKC,UAAU,CAClB,MAASL,KAAKC,MAAMC,KACpB,aAAgBQ,GACjB,KAAM,M,oBA1Ub,SAAasP,GAET,IAAIxP,EAAI,IAAI8E,EAAY0K,GACpB9J,EAAQ1F,EAAEyP,eAGd,OAFAzP,EAAE0P,WAAWhK,GACb1F,EAAE2P,gBACK3P,I,uBA2FX,SAAiBiD,GAEb,QAAO,GACH,KAAK4H,EAAgBwC,KAAKpK,GACtB,OAAO/D,EACX,KAAK8L,EAAgBqC,KAAKpK,GACtB,OAAOiD,EACX,KAAK6E,EAAasC,KAAKpK,GACnB,OAAO9D,EACX,KAAK2L,EAAcuC,KAAKpK,GACpB,OAAOgD,EACX,KAAKiF,EAAoBmC,KAAKpK,GAC1B,OAAO7D,EACX,KAAK6L,EAAaoC,KAAKpK,GACnB,OAAOkD,EACX,KAAKgF,EAAckC,KAAKpK,GACpB,MAAO,GACX,QACI,OAAOmD,O,KA2NvBxD,EAAQkC,YAAcA,EACtBlC,EAAQ1D,YAAcA,EACtB0D,EAAQzD,SAAWA,EACnByD,EAAQsD,YAAcA,EACtBtD,EAAQwD,gBAAkBA,EAC1BxD,EAAQwI,MAAQA,EAChBxI,EAAQyI,OAASA,EACjBzI,EAAQxD,YAAcA,EACtBwD,EAAQqD,UAAYA,EACpBrD,EAAQuD,SAAWA,I","file":"static/js/main.4adb511d.chunk.js","sourcesContent":["const DEFAULT_X_POS = 450;\r\nconst START_Y_POX = -30;\r\nconst {ProcessNode, StepNode, Conditional} = require('../lib/parser');\r\nconst yaml = require('js-yaml');\r\n\r\nclass Playbook {\r\n    constructor(parser) {\r\n        this.parser = parser;\r\n        let title = \"auto_playbook\";\r\n        if (this.parser.title.text !== null) {\r\n            title = this.parser.title.text;\r\n        }\r\n        let view = {\r\n            \"linkLabelsPosition\": {},\r\n            \"paper\": {\r\n                \"dimensions\": {\r\n                    \"height\": 845,\r\n                    \"width\": 790,\r\n                    \"x\": 240,\r\n                    \"y\": -30\r\n                }\r\n            }\r\n        }\r\n        this.r = {\r\n            \"name\": title,\r\n            \"starttaskid\": \"0\",\r\n            \"tasks\": {},\r\n            \"view\": JSON.stringify(view)\r\n        }\r\n    }\r\n\r\n    static render(parser) {\r\n        // Convert the parsed SBSML into an XSOAR playbook\r\n        let tasks = {};\r\n        let p = new Playbook(parser)\r\n        let processNode = p.parser.processNodes[0];\r\n        let nodeList = p.parser.getProcessTree(processNode.nodeName);\r\n        // Add the start task\r\n        tasks[\"0\"] = makeTask(0, \"\", [\"1\"], START_Y_POX, DEFAULT_X_POS, \"start\")\r\n        let newTasks = tasksFromNodeList(nodeList, 1, parser)[\"tasks\"];\r\n\r\n        //console.log(newTasks);\r\n        tasks = {...tasks, ...newTasks};\r\n        p.r[\"tasks\"] = tasks;\r\n        return p;\r\n    }\r\n\r\n\r\n    toYaml() {\r\n        return yaml.dump(this.r);\r\n    }\r\n}\r\n\r\nfunction tasksFromNodeList(nodeList, startIndex, parser, xPos = DEFAULT_X_POS) {\r\n    // given a list of nodes, convert to a list of tasks\r\n    // Returns\r\n    //      tasks: list[object]\r\n    //      index: Max new index\r\n\r\n    let tasks = {};\r\n    let taskIndex = startIndex;\r\n\r\n    nodeList.forEach(\r\n        (node) => {\r\n            if (node instanceof ProcessNode) {\r\n                tasks[taskIndex.toString()] = sectionFromProcessNode(node, taskIndex, xPos);\r\n                taskIndex = taskIndex+1;\r\n\r\n            } else if (node instanceof StepNode) {\r\n                tasks[taskIndex.toString()] = taskFromStepNode(node, taskIndex, xPos);\r\n                taskIndex = taskIndex+1;\r\n            } else if (node instanceof Conditional) {\r\n                let result = conditionalFromConditionNode(node, taskIndex, parser, xPos);\r\n\r\n                taskIndex = result[\"newIndex\"];\r\n\r\n                tasks = {...tasks, ...result[\"tasks\"] };\r\n\r\n            }\r\n        }\r\n    );\r\n\r\n\r\n\r\n    return {\"tasks\": tasks, \"newIndex\": taskIndex};\r\n}\r\n\r\nfunction makeSubTask(name, taskType, id) {\r\n    return {\r\n        \"name\": name,\r\n        \"type\": taskType,\r\n        \"id\": id\r\n    }\r\n}\r\n\r\nfunction makeView(yPos, xPos) {\r\n    return `{\"position\": {\"x\": ${xPos}, \"y\": ${yPos} } }`\r\n}\r\n\r\nfunction makeTask(id, name, nextTasks, yPos, xPos, type) {\r\n    // Create a section header task\r\n\r\n    let d =  {\r\n        \"id\": id.toString(),\r\n        \"taskid\": id.toString(),\r\n        \"type\": type,\r\n        \"task\": makeSubTask(name, type, id.toString()),\r\n        \"view\": makeView(yPos, xPos)\r\n    };\r\n\r\n    if (nextTasks !== null) {\r\n        d[\"nexttasks\"] = {\r\n            \"#none#\": nextTasks\r\n        }\r\n    }\r\n\r\n    return d;\r\n}\r\n\r\nfunction sectionFromProcessNode(processNode, index, xPos = DEFAULT_X_POS) {\r\n    let nextTask = index + 1;\r\n    nextTask = nextTask.toString();\r\n    return makeTask(index, processNode.nodeName, [nextTask], index * 200, xPos, \"title\");\r\n}\r\n\r\nfunction conditionalFromConditionNode(conditionNode, index, parser, xPos = DEFAULT_X_POS) {\r\n    let nextTask = index + 1;\r\n    // Create the conditional task first\r\n    let task = makeTask(index, \"Condition\", null, index * 200, xPos,  \"conditional\")\r\n    task[\"nexttasks\"] = {};\r\n\r\n    let tasks = {};\r\n    tasks[index.toString()] = task;\r\n    let newIndex = nextTask;\r\n    // Go through each condition\r\n    let newXpos = xPos;\r\n    Object.keys(conditionNode.conditions).forEach(conditionText => {\r\n        // Add the next task and condition to the task index\r\n        task[\"nexttasks\"][conditionText] = [nextTask.toString()];\r\n        let condition = conditionNode.conditions[conditionText];\r\n        let nodeList = [];\r\n\r\n        // Get the process tree based on the conditional process node\r\n        parser.getNextNodeRecursive(condition.nextProcessNode, nodeList)\r\n\r\n        newXpos = newXpos - 210;\r\n        let taskResult = tasksFromNodeList(nodeList, nextTask, parser, newXpos);\r\n        let newTasks = taskResult[\"tasks\"];\r\n        // Merge the additional tasks with the current tasks\r\n        tasks = {...tasks, ...newTasks};\r\n        // The new index is the max index returned from the recursive function\r\n        nextTask = taskResult[\"newIndex\"]+1;\r\n    })\r\n\r\n    // Finally, get the \"else\" case\r\n    task[\"nexttasks\"][\"#default#\"] = [nextTask.toString()];\r\n    return {\"tasks\": tasks, \"newIndex\": nextTask};\r\n\r\n\r\n}\r\n\r\nfunction taskFromStepNode(stepNode, index, xPos = DEFAULT_X_POS) {\r\n    let nextTask = index + 1;\r\n    let nextTasks = [nextTask];\r\n    if (stepNode.nextNode === null) {\r\n        if ( stepNode.nextConditional === null ) {\r\n            nextTasks = null;\r\n        }\r\n    }\r\n    return makeTask(index, stepNode.nodeName, nextTasks, index * 200, xPos, \"regular\");\r\n}\r\n\r\n\r\n\r\nexports.Playbook = Playbook;","\r\nfunction ParserError(message, lineNumber) {\r\n    this.message = message;\r\n    this.line = lineNumber;\r\n}\r\n\r\nmodule.exports.ParserError = ParserError;","export default __webpack_public_path__ + \"static/media/logo.7b910d0d.svg\";","import React from 'react';\r\nimport {ProcessNode, SBSMLParser, StepNode, DescriptionNode, SubStepNode, TitleNode, Conditional, ThenNode} from 'sbsmljs/lib/parser';\r\nimport {Playbook} from 'sbsmljs/lib/playbook';\r\nimport xsoar from './../xsoar.png'\r\nconst TEXT_DISPLAY_TYPE = \"TEXT\";\r\nconst YAML_DISPLAY_TYPE = \"XSOAR YAML\"\r\n\r\nconst EXAMPLE_SBS = `- How to Make A Cake -\r\n--- Bake a cake ---\r\n1. Butter > Melt some butter >> melted butter\r\n    1a. Put the cake in a small dish\r\n    1b. Melt in the microwave\r\n2. Mix the butter with the cake Mix\r\nThis makes the icing mix good.\r\n3. Put the cake in the oven\r\n4. Wait 30 minutes\r\n5. Take the cake out of the oven\r\nthen: Make the icing\r\n\r\n--- Make the icing ---\r\n1. Melt some more butter\r\n2. Mix the butter with the icing and milk\r\n3. Spread the icing on the cake!\r\nIF: I like Sprinkles THEN: Sprinkles\r\nthen: Serve it up\r\n\r\n--- Sprinkles ---\r\n1. Add some sprinkles\r\n\r\n--- Serve it up ---2\r\n1. Move the cake to a plate\r\n`\r\n\r\nexport class SBSLinter extends React.Component {\r\n    constructor(props) {\r\n        super(props);\r\n        this.setParser = this.setParser.bind(this);\r\n        this.setParserError = this.setParserError.bind(this);\r\n        this.clearParserError = this.clearParserError.bind(this);\r\n        this.toggleDisplayType = this.toggleDisplayType.bind(this);\r\n\r\n        this.state = {\r\n            parser: null,\r\n            parserError: null,\r\n            displayType: TEXT_DISPLAY_TYPE\r\n        };\r\n    }\r\n\r\n    setParser(newParser) {\r\n        this.setState({\r\n            parser: newParser\r\n        });\r\n    }\r\n\r\n    setParserError(err) {\r\n        this.setState({\r\n            parserError: err\r\n        })\r\n    }\r\n\r\n    clearParserError() {\r\n        this.setState({\r\n            parserError: null\r\n        })\r\n    }\r\n\r\n    toggleDisplayType() {\r\n        if (this.state.displayType === TEXT_DISPLAY_TYPE) {\r\n            this.setState({\r\n                displayType: YAML_DISPLAY_TYPE\r\n            })\r\n        } else {\r\n            this.setState({\r\n                displayType: TEXT_DISPLAY_TYPE\r\n            })\r\n        }\r\n\r\n    }\r\n\r\n    render() {\r\n        let display = null;\r\n        if (this.state.displayType === TEXT_DISPLAY_TYPE) {\r\n            display = <ParsedDisplay toggleDisplayType={this.toggleDisplayType} parser={this.state.parser}\r\n                                     parserError={this.state.parserError} displayType={this.state.displayType}/>\r\n        }\r\n        if (this.state.displayType === YAML_DISPLAY_TYPE) {\r\n            display = <YamlDisplay toggleDisplayType={this.toggleDisplayType} parser={this.state.parser}\r\n                                   parserError={this.state.parserError} displayType={this.state.displayType}/>\r\n        }\r\n\r\n        return (\r\n            <div className=\"row main justify-content-center\">\r\n                <div className=\"col p-0\" style={{display: \"contents\"}}>\r\n                    <form className=\"editorMainForm\">\r\n                        <TextEditor updateParser={this.setParser} setParserError={this.setParserError}\r\n                                    clearParserError={this.clearParserError}/>\r\n                    </form>\r\n                    {display}\r\n                </div>\r\n            </div>\r\n        );\r\n    }\r\n}\r\n\r\nclass TextEditor extends React.Component {\r\n    constructor(props) {\r\n        super(props);\r\n        this.handleChange = this.handleChange.bind(this);\r\n        this.handleScroll = this.handleScroll.bind(this);\r\n\r\n        this.state = {\r\n            value: EXAMPLE_SBS,\r\n            scrollTopValue: \"\",\r\n            parserError: null\r\n        };\r\n        this.myRef = React.createRef();\r\n    }\r\n\r\n    componentDidMount() {\r\n        var newParser = SBSMLParser.parse(this.state.value);\r\n        this.props.updateParser(newParser);\r\n    }\r\n\r\n    handleChange(event) {\r\n        try {\r\n            var newParser = SBSMLParser.parse(event.target.value);\r\n        } catch (err) {\r\n            this.props.setParserError(err)\r\n            this.setState({\r\n                value: event.target.value,\r\n                parserError: err,\r\n            });\r\n            return;\r\n        }\r\n        this.props.clearParserError();\r\n        this.props.updateParser(newParser);\r\n        this.setState({\r\n            value: event.target.value,\r\n            parserError: null,\r\n        });\r\n    }\r\n\r\n    handleScroll() {\r\n        this.setState({\r\n            scrollTopValue: this.myRef.current.scrollTop,\r\n            scrollLeftValue: this.myRef.current.scrollLeft,\r\n\r\n        })\r\n    }\r\n\r\n    render() {\r\n        return (\r\n            <div className=\"editorMain\">\r\n                <TextDisplay text={this.state.value} scrollTop={this.state.scrollTopValue}\r\n                             scrollLeft={this.state.scrollLeftValue} parserError={this.state.parserError}/>\r\n                <textarea onScroll={this.handleScroll} ref={this.myRef} className=\"invis text-nowrap\"\r\n                          value={this.state.value} onChange={this.handleChange}/>\r\n            </div>\r\n        );\r\n    }\r\n}\r\n\r\nclass TextDisplay extends React.Component {\r\n    constructor(props) {\r\n        super(props);\r\n        this.myRef = React.createRef();\r\n    }\r\n\r\n    componentDidUpdate() {\r\n        if (this.myRef.current) {\r\n            this.myRef.current.scrollTop = this.props.scrollTop;\r\n            this.myRef.current.scrollLeft = this.props.scrollLeft;\r\n        }\r\n    }\r\n\r\n    parse(text) {\r\n        var lines = text.split(/\\r?\\n/);\r\n        var fmtLines = [];\r\n\r\n        lines.forEach((line, index) => {\r\n            var nodeType = SBSMLParser.parseLine(line);\r\n            var skipNode = false;\r\n\r\n            if (this.props.parserError !== null) {\r\n                if (this.props.parserError.line === index) {\r\n                    fmtLines.push(<ErrorLine text={line}/>);\r\n                    skipNode = true;\r\n                }\r\n            }\r\n\r\n            if (!skipNode) {\r\n                switch (nodeType) {\r\n                    case ProcessNode:\r\n                        fmtLines.push(<ProcessLine text={line} key={index}/>)\r\n                        break;\r\n                    case TitleNode:\r\n                        fmtLines.push(<TitleLine text={line} key={index}/>)\r\n                        break;\r\n                    case StepNode:\r\n                        fmtLines.push(<StepLine text={line} key={index}/>)\r\n                        break;\r\n                    case SubStepNode:\r\n                        fmtLines.push(<SubStepLine text={line} key={index}/>)\r\n                        break;\r\n                    case Conditional:\r\n                        fmtLines.push(<GenericNextLine text={line} key={index}/>)\r\n                        break;\r\n                    case ThenNode:\r\n                        fmtLines.push(<GenericNextLine text={line} key={index}/>)\r\n                        break;\r\n                    case DescriptionNode:\r\n                        fmtLines.push(<DescriptionLine text={line} key={index}/>)\r\n                        break;\r\n                    default:\r\n                        fmtLines.push(line + \"\\n\")\r\n                        break;\r\n                }\r\n            }\r\n        })\r\n        return fmtLines;\r\n    }\r\n\r\n    render() {\r\n        var fmtText = this.parse(this.props.text);\r\n        return (\r\n            <pre ref={this.myRef}\r\n                 className=\"editorPre\">{fmtText}</pre>\r\n        );\r\n    }\r\n}\r\n\r\nclass ProcessLine extends React.Component {\r\n    render() {\r\n        return (\r\n            <div className=\"greenHighlight\">{this.props.text}</div>\r\n        )\r\n    }\r\n}\r\n\r\nclass StepLine extends React.Component {\r\n    render() {\r\n        return (\r\n            <div className=\"yellowHighlight\">{this.props.text}</div>\r\n        )\r\n    }\r\n}\r\n\r\nclass SubStepLine extends React.Component {\r\n    render() {\r\n        return (\r\n            <div className=\"lightYellowHighlight\">{this.props.text}</div>\r\n        )\r\n    }\r\n}\r\n\r\nclass TitleLine extends React.Component {\r\n    render() {\r\n        return (\r\n            <div className=\"greenHighlight\">{this.props.text}</div>\r\n        )\r\n    }\r\n}\r\n\r\nclass GenericNextLine extends React.Component {\r\n    render() {\r\n        return (\r\n            <div className=\"yellowHighlight\">{this.props.text}</div>\r\n        )\r\n    }\r\n}\r\n\r\nclass ErrorLine extends React.Component {\r\n    render() {\r\n        return (\r\n            <div className=\"redHighlight\">{this.props.text}</div>\r\n        )\r\n    }\r\n}\r\n\r\nclass DescriptionLine extends React.Component {\r\n    render() {\r\n        return (\r\n            <div className=\"blueHighlight\">{this.props.text}</div>\r\n        )\r\n    }\r\n}\r\n\r\nclass ChangeDisplayButton extends React.Component {\r\n    render() {\r\n        // Swap them around\r\n        let t = TEXT_DISPLAY_TYPE;\r\n        let buttonText = t;\r\n\r\n        if (this.props.displayType === TEXT_DISPLAY_TYPE) {\r\n            t = YAML_DISPLAY_TYPE;\r\n            buttonText = <span><img src={xsoar} height=\"30px\" alt=\"xsoar logo\"/> YAML</span>\r\n        }\r\n        return (\r\n            <button type=\"button\" onClick={this.props.toggleDisplayType} className=\"btn btn-secondary\">{buttonText}</button>\r\n        )\r\n    }\r\n}\r\n\r\n\r\nclass ButtonGroup extends React.Component {\r\n    render() {\r\n        return (\r\n            <div className=\"btn-group\" role=\"group\" aria-label=\"Basic example\">\r\n                <ChangeDisplayButton toggleDisplayType={this.props.toggleDisplayType} displayType={this.props.displayType}/>\r\n            </div>\r\n        )\r\n    }\r\n}\r\n\r\nclass YamlDisplay extends React.Component {\r\n    constructor() {\r\n        super();\r\n        this.state = {\r\n            classes: \"\",\r\n            overrideText: null\r\n        };\r\n        this.copyToClipBoard = this.copyToClipBoard.bind(this);\r\n    }\r\n\r\n    copyToClipBoard(value) {\r\n        this.setState({\r\n            classes: \"blueBorder\",\r\n            overrideText: \"Copied to clipboard!\"\r\n        });\r\n        navigator.clipboard.writeText(value);\r\n    }\r\n\r\n    render() {\r\n        let yamlText = null;\r\n        try {\r\n            let renderedPlaybook = Playbook.render(this.props.parser);\r\n            yamlText = renderedPlaybook.toYaml();\r\n        } catch (err) {\r\n            yamlText = err.message;\r\n        }\r\n\r\n        return (\r\n            <div>\r\n            <pre className=\"yamlPre p-3\" onClick={() => this.copyToClipBoard(yamlText)}>\r\n                <div style={{textAlign: \"center\"}}>\r\n                    <ButtonGroup toggleDisplayType={this.props.toggleDisplayType} displayType={this.props.displayType}/>\r\n                </div>\r\n                <div style={{zIndex: 2, position: \"absolute\", textAlign:\"right\", width: \"450px\"}}>\r\n                    {this.state.overrideText}\r\n                </div>\r\n                <div className={this.state.classes}>\r\n                     {yamlText}\r\n                </div>\r\n            </pre>\r\n            </div>\r\n        )\r\n    }\r\n}\r\n\r\nclass ParsedDisplay extends React.Component {\r\n    render() {\r\n        if (this.props.parserError != null) {\r\n            return (\r\n                <div className=\"parsedDisplay p-3 float-left\">\r\n                    <ErrorDisplay parserError={this.props.parserError}/>\r\n                </div>\r\n            )\r\n        }\r\n\r\n        var parser = this.props.parser;\r\n        var processNodeDisplays = [];\r\n        if (parser !== null) {\r\n            parser.processNodes.forEach((pnode, i) => {\r\n                processNodeDisplays.push(<ProcessNodeDisplay key={i} node={pnode}/>)\r\n            })\r\n        }\r\n        return (\r\n            <div className=\"parsedDisplay p-3 float-left\">\r\n                <div style={{textAlign: \"center\"}}>\r\n                    <ButtonGroup toggleDisplayType={this.props.toggleDisplayType} displayType={this.props.displayType}/>\r\n                </div>\r\n                {processNodeDisplays}\r\n            </div>\r\n        )\r\n    }\r\n}\r\n\r\nclass ProcessNodeDisplay extends React.Component {\r\n    render() {\r\n        var stepNodes = [];\r\n        this.props.node.stepNodes.forEach((snode, i) => {\r\n            stepNodes.push(<StepNodeDisplay key={i} node={snode}/>)\r\n        })\r\n        return (\r\n            <div className=\"left-align\">\r\n                <h2 className=\"rounded p-2 processNode bg-light\">{this.props.node.nodeName}</h2>\r\n                {stepNodes}\r\n            </div>\r\n        )\r\n    }\r\n}\r\n\r\nclass StepNodeDisplay extends React.Component {\r\n    render() {\r\n        return (\r\n            <div>\r\n                <h5 className=\"stepNode\">{this.props.node.nodeName}\r\n                    <br/>\r\n                </h5>\r\n                <DescriptionDisplay descriptionNode={this.props.node.descriptionNode}/>\r\n            </div>\r\n\r\n        )\r\n    }\r\n}\r\n\r\nclass DescriptionDisplay extends React.Component {\r\n    render() {\r\n        if (this.props.descriptionNode.text !== null) {\r\n            return (\r\n                <h6 className=\"descriptionNode\">{this.props.descriptionNode.text}</h6>\r\n            )\r\n        }\r\n\r\n        return null;\r\n    }\r\n}\r\n\r\nclass ErrorDisplay extends React.Component {\r\n    render() {\r\n        console.log(this.props.parserError.message);\r\n        return (\r\n            <h5 className=\"text-danger\">Line #{this.props.parserError.line}: {this.props.parserError.message}</h5>\r\n        )\r\n\r\n    }\r\n}","export default \"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAABMCAMAAAAP64T7AAAAnFBMVEUAAAAAzWcAzWgAzGYA95UAzWYAzGYAzWcAzWcAzWYAzWYAzWYAzWcAz2kA0WoA2m4AzWYAzWcAzWcAzmcA0GkA23MAzWcAzWcAzWcAzWcAz2gAz2gAzGYAzWYAzWcAzWcAzWcAzmgAz2gAz2gA02kAzGYAzWYAzWcAzWcAzWcAzWYAzmcAzWcAzWcAzWcAzGYA2WwAzWYAzmcAzGZphMTBAAAAM3RSTlMAn2D7A/XxsXn95c1EKRMJvrmaSSEHpJN0Vj4Z6dGOa2VPOy4c3dnEq4JvXDP3ih4NplkoiNOMAAAB60lEQVRYw+3W167bMAwGYLqS94hnfOzsPU7OaPX+79YCNkDQS5auCrT/Xch8CWNoBP7tFPUzja+e+UNJrZ6JKZqowMxmDVKDlY9KAZ5uaBRgsWVCB+Y4pRLMLKEF35nQgjtXaMEKnRIMmNCCq7XQgjweYdZ1lxcT0BlC/uP1DWD80fHua9h9mT3F0rzpGc3rWzAE7Z6zQwAChUhOPffqMrYHQIhV2Reua+jANiUnLnSps0KgELMkcEudm8EoFA5guEfhG0xA94CdgDofpqDwFmOTBhOQDkt3fQISaEVtI6LP9CCB+AyOpGoupPDWNvZ0qYEUsnbWT1LdyaGohhqZDOKPvJPiawbcNo2EFFcz4L1pxKQYzYD20J46zYBl01jSBSeDuOhKehjKIL7nSYrGDJgP7ao1l8JN2zjTci2FD2hzobPKIAuxQ+sSmOJ9Shv2NDRxbX2btHWYgPQo+zl1rFJID9ZM0FyiUejTK2/Tkf55BMYRkFSik/VxEKYcaPimKz+cRQ96A5d6LXrx9pxACz8Kg3uL0DQrWmgZB2QkkSeGYl7jpVMdcw6jqZna3xWMowuh1IX8rghRGooQ86kL4d3UhBBuNCHwN1MNYs4pU4RIS0sNYha/kg9FiDZ4JBcXoVqK/HRcwf/89fkNsm02lk2AkAQAAAAASUVORK5CYII=\"","import logo from './logo.svg';\nimport 'bootstrap/dist/css/bootstrap.min.css';\nimport './App.css';\nimport './scss/custom.scss'\nimport { SBSLinter } from './lib/Linter';\n\nfunction GithubLogo() {\n  return (\n    <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"30\" height=\"30\" viewBox=\"0 0 1024 1024\" fill=\"none\">\n      <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z\" transform=\"scale(64)\" fill=\"#1B1F23\" />\n    </svg>\n  )\n}\n\nfunction Title() {\n  return (\n    <div className=\"title row align-items-center justify-content-center\">\n      <div className=\"row\">\n        <div className=\"col\">\n          <img src={logo} width=\"100px\" height=\"100px\"/>\n          <h1 className=\"display-1\">Step-By-Step Markup Language</h1>\n          <h6>A simple markup language for describing technical or business processes.</h6>\n        </div>\n      </div>\n      <div className=\"row\">\n        <div className=\"col\">\n          <a className=\"btn btn-light\" href=\"https://github.com/adambaumeister/sbsml/blob/main/spec/spec.md\" role=\"button\">Read the Spec             <GithubLogo/> </a>\n        </div>\n      </div>\n      <div className=\"row\">\n        <div className=\"col\">\n          <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"75\" height=\"75\" fill=\"currentColor\" class=\"bi bi-blockquote-left\" viewBox=\"0 0 16 16\">\n            <path d=\"M2.5 3a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1h-11zm5 3a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1h-6zm0 3a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1h-6zm-5 3a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1h-11zm.79-5.373c.112-.078.26-.17.444-.275L3.524 6c-.122.074-.272.17-.452.287-.18.117-.35.26-.51.428a2.425 2.425 0 0 0-.398.562c-.11.207-.164.438-.164.692 0 .36.072.65.217.873.144.219.385.328.72.328.215 0 .383-.07.504-.211a.697.697 0 0 0 .188-.463c0-.23-.07-.404-.211-.521-.137-.121-.326-.182-.568-.182h-.282c.024-.203.065-.37.123-.498a1.38 1.38 0 0 1 .252-.37 1.94 1.94 0 0 1 .346-.298zm2.167 0c.113-.078.262-.17.445-.275L5.692 6c-.122.074-.272.17-.452.287-.18.117-.35.26-.51.428a2.425 2.425 0 0 0-.398.562c-.11.207-.164.438-.164.692 0 .36.072.65.217.873.144.219.385.328.72.328.215 0 .383-.07.504-.211a.697.697 0 0 0 .188-.463c0-.23-.07-.404-.211-.521-.137-.121-.326-.182-.568-.182h-.282a1.75 1.75 0 0 1 .118-.492c.058-.13.144-.254.257-.375a1.94 1.94 0 0 1 .346-.3z\" />\n          </svg>\n          <h2>Simple to Write!</h2>\n          <p>It only takes a minute to jot down a process, or multiple processes, in an SBSML compatible way.\n            <br></br>\n            Use it to keep your process definitions consistent, or to kickstart automation.\n          </p>\n        </div>\n        <div className=\"col\">\n          <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"75\" height=\"75\" fill=\"currentColor\" class=\"bi bi-braces\" viewBox=\"0 0 16 16\">\n            <path d=\"M2.114 8.063V7.9c1.005-.102 1.497-.615 1.497-1.6V4.503c0-1.094.39-1.538 1.354-1.538h.273V2h-.376C3.25 2 2.49 2.759 2.49 4.352v1.524c0 1.094-.376 1.456-1.49 1.456v1.299c1.114 0 1.49.362 1.49 1.456v1.524c0 1.593.759 2.352 2.372 2.352h.376v-.964h-.273c-.964 0-1.354-.444-1.354-1.538V9.663c0-.984-.492-1.497-1.497-1.6zM13.886 7.9v.163c-1.005.103-1.497.616-1.497 1.6v1.798c0 1.094-.39 1.538-1.354 1.538h-.273v.964h.376c1.613 0 2.372-.759 2.372-2.352v-1.524c0-1.094.376-1.456 1.49-1.456V7.332c-1.114 0-1.49-.362-1.49-1.456V4.352C13.51 2.759 12.75 2 11.138 2h-.376v.964h.273c.964 0 1.354.444 1.354 1.538V6.3c0 .984.492 1.497 1.497 1.6z\" />\n          </svg>\n          <h2>Parsable into code</h2>\n          <p>\n            Convert your processes and steps straight to code.\n            <br></br>\n            A standard format, and definitions for process inputs, outputs and flow logic makes it easy to use your processes in logic.\n          </p>\n        </div>\n      </div>\n      <div className=\"row\">\n        <div className=\"col m-5\">\n          <div className=\"row\">\n            <h4 style={{ color: 'white' }}>Try it out! <br />\n              <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"40\" height=\"40\" fill=\"currentColor\" class=\"bi bi-arrow-down\" viewBox=\"0 0 16 16\">\n                <path fill-rule=\"evenodd\" d=\"M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z\" />\n              </svg>\n            </h4>\n          </div>\n          <SBSLinter />\n        </div>\n      </div>\n    </div>\n  )\n}\n\n\nfunction App() {\n  return (\n    <div className=\"App container-fluid\">\n      <Title />\n    </div>\n  );\n}\n\nexport default App;\n","const reportWebVitals = onPerfEntry => {\n  if (onPerfEntry && onPerfEntry instanceof Function) {\n    import('web-vitals').then(({ getCLS, getFID, getFCP, getLCP, getTTFB }) => {\n      getCLS(onPerfEntry);\n      getFID(onPerfEntry);\n      getFCP(onPerfEntry);\n      getLCP(onPerfEntry);\n      getTTFB(onPerfEntry);\n    });\n  }\n};\n\nexport default reportWebVitals;\n","import React from 'react';\nimport ReactDOM from 'react-dom';\nimport './index.css';\nimport App from './App';\nimport reportWebVitals from './reportWebVitals';\n\nReactDOM.render(\n  <React.StrictMode>\n    <App />\n  </React.StrictMode>,\n  document.getElementById('root')\n);\n\n// If you want to start measuring performance in your app, pass a function\n// to log results (for example: reportWebVitals(console.log))\n// or send to an analytics endpoint. Learn more: https://bit.ly/CRA-vitals\nreportWebVitals();\n","const RE_PROCESS_NODE = /---\\s+(.*)\\s+---/\r\nconst RE_TITLE_NODE = /^-\\s+(.*)\\s+-$/\r\nconst RE_STEP_NODE = /(?<index>\\d+)(?<subindex>\\S+)?\\.\\s*(?<nodename>.*)\\s*/\r\nconst RE_SUBSTEP_NODE = /\\d+\\S+\\./\r\nconst RE_NEXT_NODE = /then:\\s*(?<nextNodeName>.*)\\s*/\r\nconst RE_CONDITIONAL_NODE = /IF:\\s*(?<condition>.*)\\s*THEN:\\s*(?<nextProcessName>.*)/\r\nconst RE_EMPTY_LINE = /^$/\r\nconst SPLIT_CHAR_INPUT = \">\"\r\nconst SPLIT_CHAR_OUTPUT = \">>\"\r\nconst SPLIT_CHAR = \",\"\r\nconst SPLIT_KWARG_CHAR = \":\"\r\nconst { ParserError } = require(\"./errors\")\r\n\r\nclass Input {\r\n    constructor(text, name) {\r\n        this.text = text;\r\n        this.name = name;\r\n    }\r\n\r\n    jsonify() {\r\n        return {\r\n            \"name\": this.name,\r\n            \"text\": this.text\r\n        }\r\n    }\r\n}\r\n\r\nclass Output {\r\n    constructor(text, name) {\r\n        this.text = text;\r\n        this.name = name;\r\n    }\r\n\r\n    jsonify() {\r\n        return {\r\n            \"name\": this.name,\r\n            \"text\": this.text\r\n        }\r\n    }\r\n}\r\nclass Node {\r\n    constructor() {\r\n        this.nextNode = null;\r\n        this.nextConditional = null;\r\n        this.previousNode = null;\r\n        this.inputs = [];\r\n        this.outputs = [];\r\n        this.line = null;\r\n    }\r\n    setNextNode(node) {\r\n        this.nextNode = node;\r\n    }\r\n    setPreviousNode(node) {\r\n        this.previousNode = node;\r\n    }\r\n    setNextConditional(conditional) {\r\n        this.nextConditional = conditional;\r\n    }\r\n    addInput(inputNode) {\r\n        this.inputs.push(inputNode);\r\n    }\r\n    setInputs(inputs) {\r\n        this.inputs = inputs;\r\n    }\r\n    setOutputs(outputs) {\r\n        this.outputs = outputs;\r\n    }\r\n    setLineNumber(lineNumber) {\r\n        this.line = lineNumber;\r\n    }\r\n}\r\n\r\nclass TitleNode extends Node {\r\n    constructor(text) {\r\n        super();\r\n        this.text = text;\r\n    }\r\n}\r\n\r\nclass ProcessNode extends Node {\r\n    constructor(nodeName) {\r\n        super();\r\n        this.nodeName = nodeName;\r\n        this.stepNodes = [];\r\n        this.nextProcessNodes = [];\r\n    }\r\n\r\n    addStepNode(stepNode) {\r\n        this.stepNodes.push(stepNode);\r\n    }\r\n    addNextProcessNode(thenNode) {\r\n        this.nextProcessNodes.push(thenNode);\r\n    }\r\n\r\n    jsonify() {\r\n        let stepNodes = [];\r\n        this.stepNodes.forEach(stepNode => {\r\n            stepNodes.push(stepNode.jsonify());\r\n        })\r\n        return {\r\n            \"name\": this.nodeName,\r\n            \"stepnodes\": stepNodes\r\n        }\r\n    }\r\n}\r\n\r\nclass SubStepNode extends Node {\r\n    constructor(nodeName) {\r\n        super();\r\n    }\r\n}\r\n\r\nclass StepNode extends Node {\r\n    constructor(nodeName) {\r\n        super();\r\n        this.nodeName = nodeName;\r\n        this.subSteps = [];\r\n        this.descriptionNode == null;\r\n    }\r\n\r\n    addSubStep(stepNode) {\r\n        this.subSteps.push(stepNode);\r\n    }\r\n    updateNodeName(name) {\r\n        this.nodeName = name;\r\n    }\r\n    setDescriptionNode(descriptionNode) {\r\n        this.descriptionNode = descriptionNode;\r\n    }\r\n\r\n    jsonify() {\r\n        let substepNames = [];\r\n        this.subSteps.forEach(element => {\r\n            substepNames.push(element.nodeName);\r\n        })\r\n        let inputs = [];\r\n        this.inputs.forEach(input => {\r\n            inputs.push(input.jsonify());\r\n        })\r\n        let outputs = [];\r\n        this.outputs.forEach(output => {\r\n            outputs.push(output.jsonify());\r\n        })\r\n        let descriptionText = null;\r\n        if (this.descriptionNode !== undefined) {\r\n            descriptionText = this.descriptionNode.text;\r\n        }\r\n        return {\r\n            \"name\": this.nodeName,\r\n            \"substeps\": substepNames,\r\n            \"description\": descriptionText,\r\n            \"inputs\": inputs,\r\n            \"outputs\": outputs\r\n        };\r\n    }\r\n}\r\n\r\nclass DescriptionNode extends Node {\r\n    constructor() {\r\n        super();\r\n        this.text = null;\r\n    }\r\n    addText(text) {\r\n        if (this.text === null) {\r\n            this.text = text;\r\n        } else {\r\n            this.text = this.text + text;\r\n        }\r\n    }\r\n}\r\n\r\nclass ThenNode extends Node {\r\n    constructor(nextNodeName) {\r\n        super();\r\n        this.nextNodeName = nextNodeName;\r\n        this.nextNode = null;\r\n    }\r\n}\r\n\r\nclass Conditional {\r\n    constructor() {\r\n        this.conditions = {};\r\n        this.nextNode = null;\r\n    }\r\n    addCondition(conditionNode) {\r\n        this.conditions[conditionNode.condition] = conditionNode;\r\n    }\r\n    newConditionNode(condition, nextProcessString) {\r\n        let conditionNode = new ConditionNode(condition, nextProcessString);\r\n        this.addCondition(conditionNode);\r\n        return conditionNode;\r\n    }\r\n    getNextNode(conditions) {\r\n        conditions.forEach(condition => {\r\n            if (condition in this.conditions) {\r\n                return this.conditions[condition].nextNode;\r\n            }\r\n        })\r\n        // If no conditions match\r\n        return this.nextNode;\r\n    }\r\n}\r\n\r\nclass ConditionNode extends Node {\r\n    constructor(condition, nextProcessString) {\r\n        super();\r\n        this.condition = condition;\r\n        this.nextProcessString = nextProcessString;\r\n        this.nextProcessNode = null;\r\n    }\r\n}\r\n\r\nclass SBSMLParser {\r\n    constructor(sbsString) {\r\n        this.sbsString = sbsString;\r\n\r\n        this.processNodes = [];\r\n        this.currentNode = [];\r\n        this.currentProcessNode = null;\r\n        this.currentDescriptionNode = null;\r\n        this.currentConditional = null;\r\n        this.nextNodes = [];\r\n\r\n        this.conditionNodes = [];\r\n        this.title = new TitleNode(null);\r\n    }\r\n\r\n    static parse(parseString) {\r\n        // Given a string in SBSML format, parse it into objects\r\n        let p = new SBSMLParser(parseString);\r\n        let lines = p.splitToLines();\r\n        p.parseLines(lines);\r\n        p.linkNextNodes();\r\n        return p;\r\n    }\r\n\r\n    getProcessTree(processName) {\r\n        // Get a list of nodes rooted at \"processName\"\r\n        let processNode = this.getNamedProcess(processName);\r\n        let nodeList = [];\r\n        this.getNextNodeRecursive(processNode, nodeList);\r\n        return nodeList;\r\n    }\r\n\r\n    getNextNodeRecursive(node, nodeList) {\r\n        // Get the next node\r\n        nodeList.push(node);\r\n        // If the passed node is a conditional, do a lookup for the next node based on the conditions\r\n        if (node instanceof Conditional) {\r\n            let nextNode = node.getNextNode([])\r\n            if (nextNode === null) {\r\n                throw new ParserError(\"Could not resolve Conditional node.\", null)\r\n            }\r\n            this.getNextNodeRecursive(node.getNextNode([]), nodeList);\r\n            return;\r\n        }\r\n        // If the node has a conditional, use that instead\r\n        if (node.nextConditional !== null) {\r\n            this.getNextNodeRecursive(node.nextConditional, nodeList);\r\n            return;\r\n        }\r\n        // If it's a normal node, just get the next node\r\n        if (node.nextNode !== null) {\r\n            this.getNextNodeRecursive(node.nextNode, nodeList);\r\n        }\r\n    }\r\n\r\n    linkNextNodes() {\r\n        // For nodes that reference other nodes by name, build the references\r\n        this.processNodes.forEach( processNode => {\r\n            processNode.nextProcessNodes.forEach( thenNode => {\r\n                if (thenNode.nextNode == null) {\r\n                    try {\r\n                        let nextProcessNode = this.getNamedProcess(thenNode.nextNodeName);\r\n                        thenNode.setNextNode(nextProcessNode);\r\n                    }\r\n                    catch(err) {\r\n                        throw new ParserError(err.message, thenNode.line)\r\n                    }\r\n\r\n                }\r\n            })\r\n        })\r\n\r\n        this.conditionNodes.forEach( conditionNode => {\r\n            if (conditionNode.nextProcessString !== null) {\r\n                try {\r\n                    conditionNode.nextProcessNode = this.getNamedProcess(conditionNode.nextProcessString);\r\n                } catch (err) {\r\n                    throw new ParserError(err.message, conditionNode.line)\r\n                }\r\n            }\r\n        })\r\n\r\n        this.nextNodes.forEach( thenNode => {\r\n            try {\r\n                let nextProcessNode = this.getNamedProcess(thenNode.nextNodeName);\r\n                thenNode.setNextNode(nextProcessNode);\r\n            }\r\n            catch(err) {\r\n                throw new ParserError(err.message, thenNode.line)\r\n            }\r\n        })\r\n\r\n    }\r\n\r\n    getNamedProcess(processName) {\r\n        let node = null;\r\n        this.processNodes.forEach(processNode => {\r\n            if (processNode.nodeName === processName) {\r\n                node = processNode;\r\n            }\r\n        })\r\n        if (node !== null) {\r\n            return node;\r\n        } else {\r\n            throw new ParserError(`ProcessNode ${processName} not found.`);\r\n        }\r\n    }\r\n\r\n    splitToLines() {\r\n        return this.sbsString.split(/\\r?\\n/);\r\n    }\r\n\r\n    static parseLine(line) {\r\n        // Parse a single line and just return the type that results based on the regex logic\r\n        switch(true) {\r\n            case RE_PROCESS_NODE.test(line):\r\n                return ProcessNode;\r\n            case RE_SUBSTEP_NODE.test(line):\r\n                return SubStepNode;\r\n            case RE_STEP_NODE.test(line):\r\n                return StepNode;\r\n            case RE_TITLE_NODE.test(line):\r\n                return TitleNode;\r\n            case RE_CONDITIONAL_NODE.test(line):\r\n                return Conditional;\r\n            case RE_NEXT_NODE.test(line):\r\n                return ThenNode;\r\n            case RE_EMPTY_LINE.test(line):\r\n                return \"\";\r\n            default:\r\n                return DescriptionNode;\r\n        }\r\n    }\r\n\r\n    parseLines(lines) {\r\n        lines.forEach((element, index) => {\r\n            let n;\r\n            switch(true) {\r\n                case RE_PROCESS_NODE.test(element):\r\n                    n = this.parseProcessNodeLine(element);\r\n                    n.setLineNumber(index);\r\n                    break;\r\n                case RE_STEP_NODE.test(element):\r\n                    n = this.parseStepNodeLine(element);\r\n                    n.setLineNumber(index);\r\n                    break;\r\n                case RE_CONDITIONAL_NODE.test(element):\r\n                    n = this.parseConditionalLine(element);\r\n                    n.setLineNumber(index);\r\n                    break;\r\n                case RE_NEXT_NODE.test(element):\r\n                    n = this.parseNextNodeLine(element);\r\n                    n.setLineNumber(index);\r\n                    break;\r\n                case RE_TITLE_NODE.test(element):\r\n                    n = this.parseTitleLine(element);\r\n                    n.setLineNumber(index);\r\n                    break;\r\n                default:\r\n                    this.parseDescriptionLine(element);\r\n                    break;\r\n            }\r\n        });\r\n    }\r\n\r\n    parseProcessNodeLine(line) {\r\n        console.log(\"ProcessingProcessNode \" + line);\r\n        let matched = line.match(RE_PROCESS_NODE);\r\n        if (matched.length < 2) {\r\n            throw \"Failed to parse ProcessNode\";\r\n        }\r\n        let nodeName = matched[1];\r\n        let processNode = new ProcessNode(nodeName);\r\n        this.addProcessNode(processNode);\r\n        this.currentNode = processNode;\r\n        this.currentProcessNode = processNode;\r\n\r\n        // Rest any nessecary other objects\r\n        this.currentConditional = null;\r\n        return processNode;\r\n    }\r\n\r\n    parseStepNodeLine(line) {\r\n        console.log(`ProcessingStepNode ${line}`);\r\n        let match = line.match(RE_STEP_NODE);\r\n        let index = match.groups[\"index\"];\r\n        let subindex = match.groups[\"subindex\"];\r\n\r\n        if (index === undefined) {\r\n            throw \"Invalid StepNode\";\r\n        }\r\n        let nodeName = match.groups[\"nodename\"];\r\n\r\n        let inputSplitResult = this.parseInputs(nodeName);\r\n        let stepNode = new StepNode(nodeName);\r\n\r\n        if (inputSplitResult !== null) {\r\n            stepNode.setInputs(inputSplitResult[\"inputs\"]);\r\n            stepNode.updateNodeName(inputSplitResult[\"nodeName\"]);\r\n\r\n        }\r\n\r\n        let outputSplitResult = this.parseOutputs(nodeName);\r\n        if (outputSplitResult !== null) {\r\n            stepNode.setOutputs(outputSplitResult[\"outputs\"]);\r\n            nodeName = outputSplitResult[\"nodeName\"];\r\n        }\r\n\r\n        stepNode.setPreviousNode(this.currentNode);\r\n        if (subindex !== undefined ) {\r\n            console.log(`ProcessingStepNodeSubIndex ${subindex}` )\r\n            this.currentNode.addSubStep(stepNode);\r\n        }\r\n\r\n        this.currentNode.setNextNode(stepNode);\r\n        this.currentNode = stepNode;\r\n        this.currentProcessNode.addStepNode(stepNode);\r\n\r\n        let descriptionNode = new DescriptionNode();\r\n        stepNode.setDescriptionNode(descriptionNode);\r\n        this.currentDescriptionNode = descriptionNode;\r\n\r\n        return stepNode;\r\n    }\r\n\r\n    parseInputs(line) {\r\n        let inputSplit = line.split(SPLIT_CHAR_INPUT);\r\n        let inputs = [];\r\n        if (inputSplit.length > 1) {\r\n            console.log(`ProcessingStepInput ${inputSplit[0]}`)\r\n            let inputNames = inputSplit[0];\r\n            inputNames.split(SPLIT_CHAR).forEach(element => {\r\n                let input = this.parseArgumentText(element, Input);\r\n                inputs.push(input);\r\n            })\r\n            return {\"inputs\": inputs, nodeName: inputSplit[1]};\r\n        }\r\n        return null;\r\n    }\r\n\r\n    parseArgumentText(text, objectClass) {\r\n        // parse a single input into an Input object\r\n        let split = text.split(SPLIT_KWARG_CHAR);\r\n        var name, value;\r\n        if (split.length > 1) {\r\n            name = split[0];\r\n            value = split[1];\r\n            return new objectClass(value, name);\r\n        }\r\n        value = split[0];\r\n\r\n        return new objectClass(value, null);\r\n    }\r\n\r\n    parseOutputs(line) {\r\n        let outputSplit = line.split(SPLIT_CHAR_OUTPUT);\r\n        let outputs = [];\r\n        if (outputSplit.length > 1) {\r\n            console.log(`ProcessingStepOutputs ${outputSplit[1]}`)\r\n            let outputNames = outputSplit[1];\r\n            outputNames.split(SPLIT_CHAR).forEach(element => {\r\n                let output = this.parseArgumentText(element, Output);\r\n                outputs.push(output);\r\n            })\r\n            return {\"outputs\": outputs, nodeName: outputSplit[1]};\r\n        }\r\n        return null;\r\n    }\r\n\r\n    parseDescriptionLine(line) {\r\n        /*\r\n        Parse description lines; \r\n        1. this is the step line\r\n        everything below it is the description!\r\n        */\r\n        console.log(`ProcessingDescriptionLine ${line}`);\r\n        // Ignore the case where text is seen prior to any node\r\n        if(this.currentDescriptionNode === null || this.currentDescriptionNode === undefined ) {\r\n            return;\r\n        }\r\n        // Ignore nodes that can't accept a description\r\n        if(this.currentNode.descriptionNode === undefined) {\r\n            return;\r\n        }\r\n        this.currentNode.descriptionNode.addText(line);\r\n    }\r\n\r\n    parseNextNodeLine(line) {\r\n        // Parse the \"then:\" statements, but don't create links here\r\n        console.log(`ProcessingNextNodeLine ${line}`);\r\n        let match = line.match(RE_NEXT_NODE);\r\n        let nextNodeName = match.groups[\"nextNodeName\"];\r\n        let thenNode = new ThenNode(nextNodeName);\r\n        this.nextNodes.push(thenNode);\r\n\r\n        if (this.currentConditional !== null) {\r\n            // If there's a conditional, use this as the default case\r\n            this.currentConditional.nextNode = thenNode;\r\n            return thenNode;\r\n        }\r\n        this.currentNode.setNextNode(thenNode);\r\n        this.currentNode = thenNode;\r\n        this.currentProcessNode.addNextProcessNode(thenNode);\r\n        return thenNode;\r\n    }\r\n\r\n    parseConditionalLine(line) {\r\n        //parse IF: blah THEN: whatever statements - don't yet create links\r\n        console.log(`ProcessingConditionalNodeLine ${line}`);\r\n        let match = line.match(RE_CONDITIONAL_NODE);\r\n        let condition = match.groups[\"condition\"];\r\n        let nextProcessName = match.groups[\"nextProcessName\"];\r\n        let c = new Conditional();\r\n        if (this.currentConditional !== null) {\r\n            c = this.currentConditional;\r\n        }\r\n        let conditionNode = c.newConditionNode(condition, nextProcessName);\r\n        this.currentConditional = c;\r\n        this.currentNode.setNextConditional(c);\r\n        this.conditionNodes.push(conditionNode);\r\n        return conditionNode;\r\n    }\r\n\r\n    parseTitleLine(line) {\r\n        console.log(`Processing Title Line $${line}`);\r\n        let matched = line.match(RE_TITLE_NODE);\r\n        if (matched.length < 2) {\r\n            throw \"Failed to parse TitleNode\";\r\n        }\r\n        this.title = new TitleNode(matched[1]);\r\n        return this.title;\r\n    }\r\n\r\n    addProcessNode(processNode) {\r\n        this.processNodes.push(processNode);\r\n    }\r\n\r\n    asJSON() {\r\n        let processNodes = [];\r\n        this.processNodes.forEach(processNode => {\r\n            processNodes.push(processNode.jsonify());\r\n        })\r\n        return JSON.stringify({\r\n            \"title\": this.title.text,\r\n            \"processNodes\": processNodes\r\n        }, null, 4);\r\n    }\r\n}\r\n\r\nexports.SBSMLParser = SBSMLParser;\r\nexports.ProcessNode = ProcessNode;\r\nexports.StepNode = StepNode;\r\nexports.SubStepNode = SubStepNode;\r\nexports.DescriptionNode = DescriptionNode;\r\nexports.Input = Input;\r\nexports.Output = Output;\r\nexports.Conditional = Conditional;\r\nexports.TitleNode = TitleNode;\r\nexports.ThenNode = ThenNode;\r\n"],"sourceRoot":""}